/** @format */
@import "_variables";

* {
	margin: 0;
	padding: 0;
	font-family: Lato, sans-serif;
	box-sizing: border-box;
}

.container {
	padding: 0 15px;
	max-width: 1170px;
	margin: 0 auto;

	@media (max-width: 575px) {
		padding: 0 9px;
	}
}

.text {
	color: #222222;
	font-size: 14px;

	@media (max-width: 575px) {
		font-size: 10px;
	}

	&--red {
		color: $major-color;
	}

	&--cart {
		color: #575757;
	}

	&--reverse {
		color: white;
	}

	&--gray {
		color: #5e5e5e;
	}

	&--900 {
		font-weight: 900;
		font-size: 44px;

		@media (max-width: 767px) {
			font-weight: 900;
			font-size: 38px;
		}

		@media (max-width: 575px) {
			font-weight: 900;
			font-size: 32px;
		}
	}

	&--700 {
		font-weight: 700;
		font-size: 32px;

		@media (max-width: 767px) {
			font-weight: 700;
			font-size: 24px;
		}

		@media (max-width: 575px) {
			font-weight: 700;
			font-size: 20px;
		}
	}

	&--uppercase {
		text-transform: uppercase;
	}

	&--capitalize {
		text-transform: capitalize;
	}
}

.heading-1 {
	font-size: 24px;
	line-height: 29px;
	font-weight: 400;
}

.heading-2 {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 10px;

	&--400 {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
	}
}

.heading-3 {
	margin-bottom: 12px;
	font-size: 13px;

	&--services {
		font-size: 20px;
	}
}

.header {
	height: 75px;
	background-color: #222;
	padding: 18px 16px;
	width: 100%;
	position: relative;

	@media (max-width: 1199px) {
		padding: 18px 16px;
	}

	@media (max-width: 575px) {
		padding: 18px 0;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		margin-right: 41px;
	}

	&__icon-user {
		margin: 0 33px;

		@media (max-width: 575px) {
			display: none;
		}
	}

	.icon-cart-wrapper {
		position: relative;

		@media (max-width: 575px) {
			display: none;
		}

		&__badge {
			color: white;
			background: $major-color;
			border-radius: 50%;
			position: absolute;
			font-size: 12px;
			height: 20px;
			width: 20px;
			text-align: center;
			line-height: 20px;
			top: -22px;
			right: -8px;
		}
	}

	&__menu {
		width: 232px;
		height: 100vh;
		background-color: white;
		// margin-left: auto;
		box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
		padding: 37px 34px;
		position: absolute;
		top: 75px;
		right: 0;
		// overflow: auto;
		z-index: 10;
	}

	&__dark {
		left: 0;
		top: 75px;
		position: absolute;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 9;
	}
}

.brand {
	background-color: #f4e3e6;
	min-height: 350px;
	position: relative;
	margin-bottom: 65px;

	&__inner {
		display: flex;
		justify-content: space-between;
		min-height: inherit;

		@media (max-width: 575px) {
			justify-content: center;
		}
	}

	&__left,
	&__right {
		width: 50%;
	}

	&__right {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__left {
		@media (max-width: 575px) {
			display: none;
		}
	}

	&__promo {
		padding-left: 15px;
		border-left: 12px solid #ff627d;
		min-width: 280px;
	}

	&__img {
		@media (max-width: 1199px) {
			width: 100%;
		}
	}
}

/* @media (min-width: 768px) {
	.brand__left {
		display: block;
	}

	.brand {
		min-height: 368px;
	}

	.brand__inside {
		min-height: inherit;
		display: flex;
		justify-content: center;
	}

	.brand__inside > div {
		width: 50%;
	}

	.brand__inside img {
		display: block;
		width: 100%;
	}
} */

.icon-close {
	position: absolute;
	top: 28px;
	right: 22px;
	width: 18px;
	height: 18px;

	@media (max-width: 575px) {
		width: 10px;
		height: 10px;
		top: 17px;
		right: 12px;
	}
}

.menu {
	&__heading {
		display: inline-block;
		margin-bottom: 24px;
		font-size: 14px;
		line-height: 17px;
	}

	&__list {
		list-style: none;
		margin-bottom: 20px;
	}

	&__link--filter {
		display: block;
		padding-left: 17px;
		line-height: 37px;
		border-bottom: 1px solid #ebebeb;
		position: relative;
		margin-bottom: 18px;
		cursor: pointer;

		&::before {
			content: "";
			width: 5px;
			height: 100%;
			background-color: $major-color;
			position: absolute;
			left: 0;
			top: 1px;
		}
	}

	.submenu {
		&__list {
			list-style: none;
			margin-bottom: 20px;
		}

		&__list {
			margin-left: 22px;
		}

		&__list--filter {
			margin: 24px 17px 24px;
		}

		&__item {
			margin-bottom: 11px;
		}

		&__link {
			color: #6f6e6e;
			padding: 5px 0;
		}

		&__item:first-child {
			margin-top: 12px;
		}
	}
}

.link {
	text-decoration: none;
}

.offer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	text-align: center;
	margin-bottom: 96px;

	@media (max-width: 575px) {
		grid-template-columns: 1fr;
	}

	&__item {
		position: relative;
	}

	&__img {
		width: 100%;
		height: auto;
	}

	&__img--accessories {
		@media (max-width: 575px) {
			object-fit: cover;
			min-height: 111px;
		}
	}

	&__text {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__item--accessories {
		grid-column: 1 / -1;

		@media (max-width: 575px) {
			min-height: 111px;
		}
	}
}

.featured-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 95px;

	&__head {
		text-align: center;
		margin-bottom: 48px;
	}

	&__inner {
		margin-bottom: 48px;
	}
}

.catalog {
	&__inner {
		&--product {
			margin-top: 128px;
			margin-bottom: 128px;

			@media (max-width: 575px) {
				margin-top: 64px;
				margin-bottom: 64px;
			}

			.product-card:nth-child(3) {
				@media (max-width: 769px) {
					display: none;
				}
			}
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, minmax(280px, 1fr));
		gap: 30px;

		@media (max-width: 991px) {
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
			gap: 16px;
		}

		@media (max-width: 767px) {
			grid-template-columns: repeat(auto-fill, 360px);
			gap: 16px;
		}

		@media (max-width: 575px) {
			grid-template-columns: minmax(280px, 360px);
			justify-content: center;
			gap: 16px;
		}

		.product-card {
			display: flex;
			flex-direction: column;
			background: #f8f8f8;

			&__img {
				width: 100%;
				display: block;
			}

			&__text {
				padding: 0 18px 20px;
			}

			&__price {
				margin-top: 18px;
			}

			&__top {
				position: relative;
				margin-bottom: 25px;
			}

			&__hover {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				background-color: rgba(58, 56, 56, 0.86);
				display: none;
				justify-content: center;
				align-items: center;
				display: none;
			}
		}
	}
}

.product-card:hover .product-card__hover {
	display: flex;
}

.btn {
	padding: 15px 38px;
	font-size: 16px;
	color: white;
	background: none;
	border: 1px solid #ffffff;
	display: flex;
	align-items: center;

	@media (max-width: 769px) {
		font-size: 14px;
		line-height: 17px;
	}

	@media (max-width: 575px) {
		font-size: 12px;
		line-height: 14px;
		padding: 8px 20px;
	}

	@media (max-width: 320px) {
		font-size: 10px;
		line-height: 12px;
	}

	&--featured {
		padding: 10px 17px;
	}

	&__img {
		margin-right: 10px;
		height: 24px;
	}

	&--red-border {
		border-color: #ff6a6a;
		color: #ff6a6a;

		&:hover {
			background: $major-color;
			color: white;
		}
	}

	&--red {
		border-color: #ff6a6a;
		background-color: #ff6a6a;
		color: #fff;
	}

	&--black {
		color: #000000;
		border: 1px solid #a4a4a4;
	}

	&--cart-info {
		padding: 11px 14px;
	}
}

.services {
	background: #222224;
	padding: 104px 0;

	@media (max-width: 767px) {
		padding: 48px 0 64px;
	}

	&__list {
		display: flex;
		gap: 30px;
		justify-content: space-between;

		@media (max-width: 769px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__item {
		flex-grow: 1;
		text-align: center;
		max-width: 360px;
	}

	&__img {
		margin-bottom: 28px;
		width: 40px;
		height: 45px;
	}
}

.subscribe {
	background: url(#{$img-path}/subscribe-background.jpg) no-repeat 20% 0;
	background-size: cover;

	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 104px 15px;
		align-items: center;
		text-align: center;

		@media (max-width: 767px) {
			flex-direction: column;
			align-items: center;
			padding: 53px 15px;
		}
	}

	&__quote {
		max-width: 360px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		margin: 0 10px;

		@media (max-width: 575px) {
			width: 100%;
		}
	}

	&__item--form {
		@media (max-width: 767px) {
			padding-top: 48px;
		}
	}

	&__img {
		width: 96px;
		height: 96px;
		border-radius: 50%;
		object-fit: cover;
		margin-bottom: 25px;
	}

	&__text {
		margin-top: 8px;
		font-style: 14px;
	}

	&__email-input {
		margin-top: 27px;
		display: flex;
		height: 50px;
	}

	&__input {
		padding: 0 22px;
		background: #e1e1e1;
		border: none;
		border-radius: 25px 0 0 25px;
	}

	&__btn {
		padding: 0 22px;
		background-color: $major-color;
		border: none;
		border-radius: 0 25px 25px 0;
	}
}

.footer {
	background: #222224;
	height: 75px;

	@media (max-width: 575px) {
		height: 143px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: inherit;

		@media (max-width: 575px) {
			flex-direction: column-reverse;
			align-items: center;
			justify-content: space-evenly;
			height: inherit;
		}
	}

	&__link {
		display: inline-block;
		width: 32px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		background-color: white;
		color: black;

		&:not(:last-child) {
			margin-right: 7px;
		}

		&:hover {
			background-color: $major-color;
			color: white;
		}
	}
}

.new-arrivals {
	min-height: 150px;
	background-color: #f8f3f4;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: inherit;

		@media (max-width: 575px) {
			flex-direction: column;
			justify-content: space-evenly;
		}
	}

	&__link {
		color: #636363;

		&:active {
			font-weight: 700;
			color: $major-color;
		}
	}

	&__slash {
		color: #636363;
		margin: 0 3px;
	}
}

.filters-catalog {
	min-height: 133px;

	@media (max-width: 575px) {
		min-height: 80px;
	}

	&__inner {
		display: flex;
		align-items: center;
		min-height: inherit;
	}

	&__left {
		flex-grow: 1;
		position: relative;
	}

	&__right {
		flex-grow: 1.45;
	}

	&__btn {
		background: none;
		border: none;
		padding: 16px;
		position: relative;
		z-index: 2;
		cursor: pointer;

		@media (max-width: 575px) {
			padding: 10px 10px 10px 0;
		}
	}

	&__text {
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
		margin-right: 11px;

		@media (max-width: 575px) {
			display: none;
		}
	}

	&__icon {
		@media (max-width: 575px) {
			width: 37px;
		}
	}

	&__icon--hover {
		display: none;
	}

	&__menu {
		position: absolute;
		left: 0;
		top: 0;
		width: 360px;
		min-height: 560px;
		background-color: #fff;
		box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
		z-index: 1;
		padding: 46px 16px 0px;
		/* display: none; */
		overflow-y: auto;

		@media (max-width: 769px) {
			display: none;
		}
	}

	&__btn:hover &__text {
		color: $major-color;
	}

	&__btn:hover &__icon--hover {
		display: inline-block;
	}

	&__btn:hover &__icon {
		display: none;
	}
}

.filter-category {
	display: flex;
	gap: 28px;

	@media (max-width: 769px) {
		justify-content: end;
	}

	@media (max-width: 575px) {
		gap: 13px;
		justify-content: end;
	}

	&__item {
		position: relative;

		@media (max-width: 575px) {
			font-size: 12px;
		}
	}

	&__arrow {
		margin-left: 10px;
		margin-bottom: 2px;

		@media (max-width: 575px) {
			margin-left: 6px;
			margin-bottom: 1px;
		}
	}

	&__wrap {
		cursor: pointer;
	}

	&__popup {
		position: absolute;
		left: 0;
		top: 25px;
		width: 79px;
		height: 103px;
		background: #ffffff;
		box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
		z-index: 2;
		padding: 7px 9px;
	}

	&__input:not(:last-child) {
		margin-bottom: 4px;
	}
}

.pagination {
	margin-top: 48px;
	margin-bottom: 96px;

	&__toggle {
		width: 284px;
		height: 42px;
		border: 1px solid #ebebeb;
		margin: 0 auto;
		padding: 13px 16px;
		display: flex;
		justify-content: space-between;
		border-radius: 3px;
	}

	&__page {
		line-height: 14px;
		color: #c4c4c4;
		font-weight: 300;
		font-size: 19px;
		padding: 0 8px;

		&:hover {
			color: #ef5b70;
		}
	}
}

.hidden {
	display: none;
}

.photo-slider {
	min-height: 777px;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	background: #f7f7f7;
	display: flex;
	align-items: center;
	position: relative;

	@media (max-width: 769px) {
		min-height: 624px;
	}

	&__img {
		max-width: 100%;
		margin-top: 11px;
		margin-bottom: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;

		@media (max-width: 769px) {
			margin-top: auto;
		}
	}

	&__arrow {
		width: 47px;
		height: 47px;
		background: rgba(42, 42, 42, 0.15);
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		font-size: 21px;
		line-height: 47px;
		text-align: center;
		color: #000;

		&:hover {
			color: $major-color;
		}
	}

	&__arrow--left {
		right: auto;
		left: 0;
	}

	&__arrow--right {
		right: 0;
		left: auto;
	}
}

.collection {
	@media (max-width: 992px) {
		border-bottom: 1px solid #eaeaea;
	}

	&__inner {
		margin-top: -65px;
		position: relative;
		background-color: #fff;
		border: 1px solid #eaeaea;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		padding: 65px 250px;

		@media (max-width: 992px) {
			padding: 65px 65px;
			border: none;
			margin-top: 0;
		}

		@media (max-width: 769px) {
			padding: 65px 65px;
		}

		@media (max-width: 575px) {
			padding: 65px 24px;
		}
	}
	&__heading {
		margin-bottom: 12px;
	}

	&__divider {
		&--red {
			margin-bottom: 12px;
			height: 3px;
			width: 63px;
			background-color: $major-color;
		}

		&--gray {
			margin: 65px;
			height: 1px;
			width: 100%;
			background-color: #eaeaea;

			@media (max-width: 575px) {
				margin: 32px;
				width: 175px;
			}
		}
	}

	&__brand {
		margin-bottom: 48px;
		font-size: 18px;
	}

	&__text {
		margin-bottom: 32px;
		margin-left: 40px;
		margin-right: 40px;

		@media (max-width: 575px) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	&__filter {
		margin-bottom: 48px;
	}

	&__price {
		font-size: 29px;
		line-height: 29px;
	}
}

.cart {
	margin-top: 96px;
	margin-bottom: 128px;

	@media (max-width: 769px) {
		margin-top: 59px;
		margin-bottom: 128px;
	}

	@media (max-width: 575px) {
		margin-top: 39px;
		margin-bottom: 96px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		gap: 10px;

		@media (max-width: 769px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__product-buttons {
		display: flex;
		justify-content: space-between;
		margin-top: 73px;

		@media (max-width: 769px) {
			justify-content: center;
			gap: 48px;
			margin-top: 62px;
		}

		@media (max-width: 575px) {
			justify-content: space-between;
			margin-top: 30px;
		}
	}

	&__item {
		margin-bottom: 40px;

		@media (max-width: 575px) {
			margin-bottom: 32px;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;

		@media (max-width: 769px) {
			margin-top: 64px;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			gap: 15px;
		}

		@media (max-width: 575px) {
			margin-top: 48px;
			flex-direction: column;
			gap: 0;
		}
	}

	&__form {
		width: 360px;
		margin-bottom: 57px;

		@media (max-width: 769px) {
			flex-grow: 1;
		}

		@media (max-width: 575px) {
			margin-bottom: 48px;
			width: 100%;
		}
	}

	&__input:not(:last-child) {
		margin-bottom: 20px;
	}

	&__total {
		padding: 40px 42px;
		background: #f5f3f3;
		height: 214px;
		text-align: right;
		width: 360px;

		@media (max-width: 769px) {
			margin-top: 38px;
		}

		@media (max-width: 575px) {
			flex-grow: 1;
			margin-top: 0;
			width: 100%;
		}
	}

	&__subtotal {
		font-weight: 300;
		font-size: 11px;
		line-height: 13px;
		color: #4a4a4a;

		& span {
			margin-left: 20px;
		}
	}

	&__grandtotal {
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: #222222;
		margin-top: 12px;
		margin-bottom: 21px;

		& span {
			margin-left: 20px;
		}
	}

	hr {
		margin-bottom: 17px;
		background: #e2e2e2;
		height: 1px;
		border: none;
	}

	&__btn {
		display: block;
		width: 100%;
	}
}

.cart-card {
	filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
	background-color: #fff;
	position: relative;
	max-width: 652px;

	@media (max-width: 769px) {
		width: 100%;
	}

	&__inner {
		display: flex;
		height: 306px;

		@media (max-width: 575px) {
			height: 188px;
		}

		@media (max-width: 330px) {
			height: 200px;
		}
	}

	&__info {
		padding: 22px 60px 22px 31px;

		@media (max-width: 575px) {
			padding: 14px 30px 14px 17px;
		}

		@media (max-width: 330px) {
			padding: 14px 30px 14px 8px;
		}
	}

	&__name {
		margin-bottom: 42px;
		font-size: 24px;
		line-height: 29px;

		@media (max-width: 575px) {
			margin-bottom: 26px;
			font-size: 14px;
			line-height: 19px;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 22px;
		line-height: 26px;

		@media (max-width: 575px) {
			font-size: 14px;
			line-height: 17px;
		}
	}

	&__text:not(:last-child) {
		margin-bottom: 6px;

		@media (max-width: 575px) {
			margin-bottom: 4px;
		}
	}

	&__input {
		width: 43px;
		height: 24px;
		border-radius: 0;
		border: 1px solid #eaeaea;
		text-align: center;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		color: #656565;
		margin-left: 25px;

		@media (max-width: 575px) {
			font-size: 10px;
			line-height: 12px;
			width: 25px;
			margin-left: 10px;
		}
	}
}

.user-info-form {
	&__input {
		font-size: 13px;
		line-height: 16px;
		color: #b1b1b1;
		padding: 12px 17px;
		border: 1px solid #a4a4a4;
		width: 100%;
		display: block;
	}

	&__heading {
		margin-bottom: 20px;
	}
}
